html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1d2731;
}

header {
    width: 100%;
    height: 100vh;
    background: url(Berg1.JPG) 50% 50%;
    background-size: cover;
    opacity: .7;
}

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.content h1 {
    color: #883636;
    font-weight: 200;
}

.logo {
    position: absolute;
    float: left;
    width: 20%;
}

.logo a {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    color: #a06711;
    text-decoration: none;
    text-align: center;
    line-height: inherit;
}

.logo a:hover {
    background-color: #883636;
}

.menu {
    position: absolute;
    float: right;
    width: 50%;
}

.dropdown {
    float: left;
    width: 20%;
    height: 40px;
    padding: 0;
    margin: 0;
}

.dropdown .dropbtn a {
    float: left;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    color: #a06711;
    text-decoration: none;
    text-align: center;
    line-height: inherit;
}

.dropdown:hover .dropbtn a {
    background-color: #883636;
}

.dropdown .dropcontent {
    display: none;
    width: 100%;
    background-color: #1d2731;
}

.dropdown:hover .dropcontent {
    display: block;
}
  
.dropdown .dropcontent a {
    float: none;
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    color: #a06711;
    text-decoration: none;
    text-align: center;
    line-height: inherit;
}
  
.dropdown .dropcontent a:hover {
    background-color: #883636;
}
  
table {
    width: 100%;
}

th {
    color: #883636;
    font-weight: 200;
    text-align: left;
    letter-spacing: 0.4em;
}

td {
    padding: 0.4%;
}

.container {
    position: relative;
    /*text-align: center;*/
}
  
.image {
    opacity: 1;
    display: block;
    margin: 0px auto;
    transition: .5s ease;
}
  
.middle {
    color: #a06711;
    font-size: 1.5em;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}

@media (min-width: 761px) {

.content h1{
    font-size: 2.5em;
}


.logo {
    top: 40px;
    left: 10%;
    font-size: 1.5em;
    line-height: 40px;
}

.menu {
    top: 40px;
    right: 10%;
    font-size: 1.5em;
    line-height: 40px;
}

.left {
    width: 10%;
}

.right {
    width: 10%;
}

th {
    padding: 8% 10% 6% 15%;
    font-size: 3.5em;
}

.image {
    width: 300px;
    height: 300px;
}

}

@media (max-width: 760px) {

.content h1{
    font-size: 1em;
}

.logo {
    top: 20px;
    left: 5%;
    font-size: 0.6em;
    line-height: 20px;
}

.menu {
    top: 20px;
    right: 5%;
    font-size: 0.6em;
    line-height: 20px;
}

th {
    padding: 15% 10% 12% 15%;
    font-size: 1.5em;
}

.left {
    width: 1%;
}

.right {
    width: 1%;
}

.image {
    width: 120px;
    height: 120px;
}

}