*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    font-size: 10px;
}

body{
    background-color: #000;
}

.menu {
    float: right;
    width: 80%;
    margin: auto;
    height: 40px;
    position: fixed;
    z-index: 100;
    top: 7%;
    left: 60%;
    right: 10%;
    font-size: 1.5em;
}

.dropdown {
    float: left;
    margin: 0;
    width: 10%;
}
    
.dropdown .dropbtn a {
    float: left;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    color: rgb(214, 214, 214);
    text-decoration: none;
    text-align: center;
}

.dropdown:hover .dropbtn a {
    /*background-color: #7e7575;*/
    color: rgb(179, 110, 0);
}

.dropdown .dropcontent {
    display: none;
    width: 100%;
}
  
.dropdown .dropcontent a {
    float: none;
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    color: rgb(214, 214, 214);
    text-decoration: none;
    text-align: center;
    line-height: inherit;
}
  
.dropdown .dropcontent a:hover {
    /*background-color: #7e7575;*/
    color: rgb(179, 110, 0);
}
  
.dropdown:hover .dropcontent {
    display: block;
}

.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item{
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
    opacity: 0.6;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) {
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) {
    animation-delay: 20s;
}

.slideshow-item-text{
    /*max-width: 50%;*/
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-10%);
    /*background-color: rgba(0,0,0,.8);*/
    color: rgb(214, 214, 214);
    padding: 10rem 5rem;
}

.slideshow-item-text h5{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.slideshow-item-text p{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: 300;
}

@keyframes cycleImages {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.2);
    }
}

.social-menu a {
    position: relative;
    transform: translateY(-100%);
    /*background-color: rgba(0,0,0,.8);*/
    padding: 5rem 3rem;
    font-size: 3em;
    color: rgb(214, 214, 214);
}
.social-menu {
    line-height: normal;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 100%;
    max-width: 800px;
    display: flex;
}

.social-menu a:hover {
    color: rgb(179, 110, 0);
}

@media screen and (max-width: 1000px){
    .slideshow-item-text{
        max-width: 70%;
        padding: 5rem 1rem;
    }

    .slideshow-item-text h5{
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px){
    .slideshow-item-text{
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5{
        font-size: 3rem;
    }

    .slideshow-item-text p{
        font-size: 1.4rem;
    }
}